<div id="new-pane">
    <p class="lead">Select Product</p>
    <hr>
    <form novalidate>
        <div class="form-group">
            <button class="btn btn-warning center-block" ng-click="changeBrand()">
                Products
            </button>
        </div>
        <hr>
        <div class="form-group">
            <h5>Brand: </h5>{{ currentProduct.brandName }}
            <h5>Product: </h5>{{ currentProduct.name }}
        </div>
        <a class="thumbnail">
            <img id="base-product-preview" alt="No product selected"/>
        </a>
    </form>
</div>
